html {
    height: 100%;
    
}
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    background-color: #0c1d2c !important;
    
}

.logo {
    position: relative;
    top: 50px;
    text-align: center;
}

.img-profile {
    height: 300px;
}

.container {
    position: relative;
    color: white;
}
.container-context {
    font-size: 20px;
}
section {
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	color: white;
}
.content-container {
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    gap: 30px;
}
